<!doctype html>
<html>

<head>
    <title>Kuick Exam</title>
    <link rel="icon" href="img/title-logo.png" type="image/png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <div class="content">
        <div class="shadow bg-white ">
            <nav class="navbar navbar-expand-sm navbar-light bg-light d-flex">
                <a class="navbar-brand" href="Header.ejs">
                    <img src="img/logo1.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"> </i> Agent login
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tel:+62896706255135"><i class="fa fa-phone"></i> Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-flex">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">

                <div class="list-group list-group-flush">
                    <a href="/landing" class="list-group-item list-group-item-action bg-light">Overview</a>
                    <a href="/caseinput" class="list-group-item list-group-item-action bg-light">Add Case</a>
                    <a href="/caseview" class="list-group-item list-group-item-action bg-light">View case</a>
                    <a href="/profile" class="list-group-item list-group-item-action bg-light">Profile</a>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <div class="container-fluid m-auto" style="padding-bottom: 50px;">
                <div class="border1">
                    <table>
                        <thead>
                            <h2>Profile</h2>
                            <% 
          for (var i=0; i < agents.length; i++) 
          {%>
                                <tr>
                                    <br> </tr>
                                <tr>
                                    <th>
                                        <h5>Name:</h5>
                                    </th>
                                    <td><span><%= agents[i].name%></span></td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5>Agency:</h5>
                                    </th>
                                    <td><span><%= agents[i].AgencyName%></span></td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5>Insurance Company: &emsp;</h5>
                                    </th>
                                    <td><span><%= agents[i].InsuranceCompany%></span></td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5>Phone Number:</h5>
                                    </th>
                                    <td><span><%= agents[i].PhoneNo%></span></td>
                                </tr>
                                <tr>
                                    <th>
                                        <h5>Email Address:</h5>
                                    </th>
                                    <td><span><%= agents[i].email%></span></td>
                                </tr>
                                <td>
                                    <br>
                                    <br>
                                    <button onclick="window.location.href = '/editprofile';" type="button1" class="btn btn-primary">Edit profile</button>
                                    <br>
                                    <br>
                                    <button onclick="window.location.href = '/changepass';" type="button2" class="btn btn-danger">Change password</button>
                                </td>
                                <% } %>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- footer part start-->
    <footer class="footer-area ">

        <div class="copyright_part">
            <div class="container">
                <div class="row align-items-center">
                    <p class="footer-text m-0 col-lg-8 col-md-12">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved <i class="ti-heart" aria-hidden="true"></i> </p>
                    <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i> </a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>